h1, #cartImg{
  background-color: yellow;
  margin-top: 0
  display: block;
}

.desc{
  display: block;
}

.price{
  text-align: left;
  font-size: 25px;
}

#description1{
  padding:0;
}

.itemInfo{
  border-top-style:solid;
}

#item6{
  border-bottom-style: solid;
}

.img{
  display:inline;
  height:5px;
  width: 5px;
  ;
}

.title{
  background-color: blue;
  padding:0px;

}